/* here you can put your own css to customize and override the theme */

html {
  height: 100%;
  font-size: 625%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: .5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#article-nav {
  margin-top: 40px;
}

.article-title {
  font-size: 25px;
}

.article-nav-wrap:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.article-entry table {
  width: 100%;
  margin: 1.5em 0;
}

.article-entry table th {
  background: #F3F3F3;
}

.article-entry table th,
.article-entry table td {
  border: 1px solid #E6E6E6;
  padding: 5px 8px;
  word-break: normal;
}

.blog-item blockquote {
  margin: 10px 0;
  font-size: 12px;
  background: #F6F6F6;
  border-left-width: 2px;
}

.blog-sidebar h2 {
  font-size: 23px;
}

.blog-sidebar .recent-news a {
  font-size: 14px;
}

.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5 {
  margin-top: -60px;
  padding-top: 80px;
}

/*toc*/

.toc-article {
  position: relative;
  width: 100%;
  margin: 1.5em 0 0.3em;
  border-left: 1px solid #eee;
  font-size: 14px;
}

.toc-article.fixed-toc {
  position: fixed;
  top: 50px;
  max-height: calc(100% - 100px);
}

.toc-article ol {
  margin-left: -15px;
  list-style: none;
  list-style-type: square;
}

.toc-article ol.toc {
  position: relative;
  z-index: 2;
}

.toc-article ol.toc-child {
  margin-left: -25px;
}

.toc-item {
  line-height: 25px;
}

.toc-number {
  display: none;
}

.toc-link {
  display: block;
  height: 100%;
}

.toc-link,
.toc-link:hover,
.toc-link:active,
.toc-link:visited {
  color: black;
}

.toc-link.active {
  color: #E84D1C;
}

.toc-article .highlight-title {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  border-left: 2px solid #E84D1C;
  background: #f3f3f3;
  -moz-transition: top .2s ease;
  -o-transition: top .2s ease;
  -webkit-transition: top .2s ease;
  transition: top .2s ease;
}

/* .toc-title
  font-size 120%

#toc
  line-height 1em
  font-size 0.9em
  float right
.toc
  padding 0
  margin 1em
  line-height 1.8em
  li
  list-style-type none

.toc-child 
  margin-left 1em */